# IPL Score prediction

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use("ggplot")

In [2]:
df = pd.read_csv('ipl.csv')
df.sample(10)

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
11573,94,2009-05-13,Kingsmead,Delhi Daredevils,Deccan Chargers,KD Karthik,PP Ojha,139,6,17.5,45,3,17,0,173
37933,308,2012-05-20,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Royal Challengers Bangalore,CL White,R Vinay Kumar,20,2,3.6,20,2,6,1,132
11946,97,2009-05-15,OUTsurance Oval,Delhi Daredevils,Kings XI Punjab,R Bhatia,B Lee,111,8,18.1,33,4,29,0,120
71094,577,2017-04-17,Feroz Shah Kotla,Delhi Daredevils,Kolkata Knight Riders,CH Morris,SP Narine,150,5,17.4,50,3,37,4,168
17247,140,2010-04-01,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,CA Pujara,A Symonds,40,1,5.2,32,1,16,13,181
68556,557,2016-05-25,Feroz Shah Kotla,Sunrisers Hyderabad,Kolkata Knight Riders,Yuvraj Singh,R Sathish,75,3,11.3,31,2,3,1,162
33166,269,2012-04-22,Barabati Stadium,Deccan Chargers,Kolkata Knight Riders,CL White,R Bhatia,84,2,11.5,36,1,44,2,126
71466,580,2017-04-19,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Delhi Daredevils,Yuvraj Singh,AD Mathews,163,2,17.4,57,1,63,3,191
14135,115,2010-03-14,"MA Chidambaram Stadium, Chepauk",Deccan Chargers,Chennai Super Kings,HH Gibbs,R Ashwin,66,2,8.3,18,2,7,2,190
69756,567,2017-04-10,Holkar Cricket Stadium,Royal Challengers Bangalore,Kings XI Punjab,AB de Villiers,VR Aaron,19,2,4.2,19,2,11,0,148

## Data Exploration

In [3]:
df.columns

Index(['mid', 'date', 'venue', 'bat_team', 'bowl_team', 'batsman', 'bowler',
       'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker',
       'non-striker', 'total'],
      dtype='object')

In [4]:
df.shape

(76014, 15)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76014 entries, 0 to 76013
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   mid             76014 non-null  int64
 1   date            76014 non-null  object
 2   venue           76014 non-null  object
 3   bat_team        76014 non-null  object
 4   bowl_team       76014 non-null  object
 5   batsman         76014 non-null  object
 6   bowler          76014 non-null  object
 7   runs            76014 non-null  int64
 8   wickets         76014 non-null  int64
 9   overs           76014 non-null  float64
 10  runs_last_5     76014 non-null  int64
 11  wickets_last_5  76014 non-null  int64
 12  striker         76014 non-null  int64
 13  non-striker     76014 non-null  int64
 14  total           76014 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 8.7+ MB

In [6]:
df.isnull().sum()

mid               0
date              0
venue             0
bat_team          0
bowl_team         0
batsman           0
bowler            0
runs              0
wickets           0
overs             0
runs_last_5       0
wickets_last_5    0
striker           0
non-striker       0
total             0
dtype: int64

no null values in the dataset.

In [7]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [8]:
df.tail()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [9]:
df['venue'].unique()

array(['M Chinnaswamy Stadium',
       'Punjab Cricket Association Stadium, Mohali', 'Feroz Shah Kotla',
       'Wankhede Stadium', 'Eden Gardens', 'Sawai Mansingh Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'MA Chidambaram Stadium, Chepauk', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium',
       'Sardar Patel Stadium, Motera', 'Barabati Stadium',
       'Vidarbha Cricket Association Stadium, Jamtha',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'Holkar Cricket Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'Maharashtra Cricket Association Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Saurashtra Cricket Association Stadium', 'Green Park'],
      dtype=object)

the win rate will be more for the respective local team, which can be used to predict who will win. But may not be useful for score predictions.

In [10]:
df['date'].dtype

dtype('O')

In [11]:
df['date'].head()

0    2008-04-18
1    2008-04-18
2    2008-04-18
3    2008-04-18
4    2008-04-18
Name: date, dtype: object

In [12]:
[df['bat_team'].unique()]

[array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
        'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
        'Royal Challengers Bangalore', 'Delhi Daredevils',
        'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
        'Rising Pune Supergiants', 'Gujarat Lions',
        'Rising Pune Supergiant'], dtype=object)]

In [13]:
df['bowl_team'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Mumbai Indians', 'Chennai Super Kings', 'Deccan Chargers',
       'Pune Warriors', 'Kochi Tuskers Kerala', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

## Data Cleaning

1. Remove unrelevant columns
2. Convert `date` from string into datetime object
3. keep the high performing teams.

In [14]:
df.columns

Index(['mid', 'date', 'venue', 'bat_team', 'bowl_team', 'batsman', 'bowler',
       'runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5', 'striker',
       'non-striker', 'total'],
      dtype='object')

In [15]:
cols_to_drop = ['mid','venue', 'batsman','bowler','striker','non-striker']

print(f"Shape of the dataframe before dropping columns: {df.shape}")

df.drop(labels=cols_to_drop, axis=1, inplace=True)
print(f"Shape of the dataframe after dropping columns: {df.shape}")

Shape of the dataframe before dropping columns: (76014, 15)
Shape of the dataframe after dropping columns: (76014, 9)

In [16]:
df.columns

Index(['date', 'bat_team', 'bowl_team', 'runs', 'wickets', 'overs',
       'runs_last_5', 'wickets_last_5', 'total'],
      dtype='object')

In [17]:
df.sample(10)

,date,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
2525,2008-05-25,Deccan Chargers,Royal Challengers Bangalore,61,0,7.4,42,0,165
2061,2008-04-30,Delhi Daredevils,Royal Challengers Bangalore,127,1,13.3,50,0,191
45686,2013-05-10,Royal Challengers Bangalore,Delhi Daredevils,117,3,16.3,38,1,183
72747,2017-04-28,Sunrisers Hyderabad,Kings XI Punjab,58,0,5.4,55,0,207
19875,2010-04-16,Kings XI Punjab,Deccan Chargers,34,1,5.2,33,1,174
63600,2016-04-20,Royal Challengers Bangalore,Mumbai Indians,79,1,8.6,42,0,170
41890,2013-04-21,Mumbai Indians,Delhi Daredevils,23,2,5.5,21,2,161
49910,2014-04-27,Mumbai Indians,Delhi Daredevils,94,5,17.1,39,1,125
44184,2013-05-02,Royal Challengers Bangalore,Pune Warriors,120,3,15.2,37,2,187
15082,2010-03-19,Deccan Chargers,Kings XI Punjab,168,8,19.5,44,3,170

In [18]:
df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [19]:
short_forms = ['kkr','csk','rr','mi','dc','kxip','rcb','dd','ktk','pw','srh','rps','gl']

# Create a dictionary to map old names to new short forms
mapping = dict(zip(df['bat_team'].unique(), short_forms))

In [20]:
mapping

{'Kolkata Knight Riders': 'kkr',
 'Chennai Super Kings': 'csk',
 'Rajasthan Royals': 'rr',
 'Mumbai Indians': 'mi',
 'Deccan Chargers': 'dc',
 'Kings XI Punjab': 'kxip',
 'Royal Challengers Bangalore': 'rcb',
 'Delhi Daredevils': 'dd',
 'Kochi Tuskers Kerala': 'ktk',
 'Pune Warriors': 'pw',
 'Sunrisers Hyderabad': 'srh',
 'Rising Pune Supergiants': 'rps',
 'Gujarat Lions': 'gl'}

In [33]:
# df['bat_team'].rename(columns = mapping,inplace=True)

In [26]:
df1 = df.copy()

In [35]:
# df1=df1.rename(columns = mapping,inplace=True)
# df1['bat_team'].unique()

In [34]:
type(df1)

NoneType

In [22]:
# df['bat_team'].unique()

In [23]:
# df['bat_team'].unique()

In [24]:
top_performing_teams = ['kkr','csk','rr','mi','kxip','rcb','dd','srh']

# Docs

In [25]:
df.rename?

Signature:
df.rename(
    mapper: 'Renamer | None' = None,
    *,
    index: 'Renamer | None' = None,
    columns: 'Renamer | None' = None,
    axis: 'Axis | None' = None,
    copy: 'bool | None' = None,
    inplace: 'bool' = False,
    level: 'Level | None' = None,
    errors: 'IgnoreRaise' = 'ignore',
) -> 'DataFrame | None'
Docstring:
Rename columns or index labels.

Function / dict values must be unique (1-to-1). Labels not contained in
a dict / Series will be left as-is. Extra labels listed don't throw an
error.

See the :ref:`user guide <basics.rename>` for more.

Parameters
----------
mapper : dict-like or function
    Dict-like or function transformations to apply to
    that axis' values. Use either ``mapper`` and ``axis`` to
    specify the axis to target with ``mapper``, or ``index`` and
    ``columns``.
index : dict-like or function
    Alternative to specifying axis (``mapper, axis=0``
    is equivalent to ``index=mapper``).
columns : dict-like or function
    Alternative to specifying axis (``mapper, axis=1``
    is equivalent to ``columns=mapper``).
axis : {0 or 'index', 1 or 'columns'}, default 0
    Axis to target with ``mapper``. Can be either the axis name
    ('index', 'columns') or number (0, 1). The default is 'index'.
copy : bool, default True
    Also copy underlying data.

    .. note::
        The `copy` keyword will change behavior in pandas 3.0.
        `Copy-on-Write
        <https://pandas.pydata.org/docs/dev/user_guide/copy_on_write.html>`__
        will be enabled by default, which means that all methods with a
        `copy` keyword will use a lazy copy mechanism to defer the copy and
        ignore the `copy` keyword. The `copy` keyword will be removed in a
        future version of pandas.

        You can already get the future behavior and improvements through
        enabling copy on write ``pd.options.mode.copy_on_write = True``
inplace : bool, default False
    Whether to modify the DataFrame rather than creating a new one.
    If True then value of copy is ignored.
level : int or level name, default None
    In case of a MultiIndex, only rename labels in the specified
    level.
errors : {'ignore', 'raise'}, default 'ignore'
    If 'raise', raise a `KeyError` when a dict-like `mapper`, `index`,
    or `columns` contains labels that are not present in the Index
    being transformed.
    If 'ignore', existing keys will be renamed and extra keys will be
    ignored.

Returns
-------
DataFrame or None
    DataFrame with the renamed axis labels or None if ``inplace=True``.

Raises
------
KeyError
    If any of the labels is not found in the selected axis and
    "errors='raise'".

See Also
--------
DataFrame.rename_axis : Set the name of the axis.

Examples
--------
``DataFrame.rename`` supports two calling conventions

* ``(index=index_mapper, columns=columns_mapper, ...)``
* ``(mapper, axis={'index', 'columns'}, ...)``

We *highly* recommend using keyword arguments to clarify your
intent.

Rename columns using a mapping:

>>> df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
>>> df.rename(columns={"A": "a", "B": "c"})
   a  c
0  1  4
1  2  5
2  3  6

Rename index using a mapping:

>>> df.rename(index={0: "x", 1: "y", 2: "z"})
   A  B
x  1  4
y  2  5
z  3  6

Cast index labels to a different type:

>>> df.index
RangeIndex(start=0, stop=3, step=1)
>>> df.rename(index=str).index
Index(['0', '1', '2'], dtype='object')

>>> df.rename(columns={"A": "a", "B": "b", "C": "c"}, errors="raise")
Traceback (most recent call last):
KeyError: ['C'] not found in axis

Using axis-style parameters:

>>> df.rename(str.lower, axis='columns')
   a  b
0  1  4
1  2  5
2  3  6

>>> df.rename({1: 2, 2: 4}, axis='index')
   A  B
0  1  4
2  2  5
4  3  6
File:      c:\users\saiki\miniconda3\envs\dsml\lib\site-packages\pandas\core\frame.py
Type:      method